testclient_xmpphost=shakespeare.lit
testclient_xmppservice=shakespeare.lit
testclient_xmppport=5222

user1.username=romeo
user1.password=romeo
user1.resource=BC_TEST_CLIENT_USER1

user2.username=juliet
user2.password=juliet
user2.resource=BC_TEST_CLIENT_USER2

channelserver_to_test=channels.shakespeare.lit
topic_channel_server=topics.shakespeare.lit